<div class="container content">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<img class="babble-logo" src="" />
			<p>Truly simple video chat for groups.</p>
			<div class="input-group">
				<span class="input-group-addon" id="token">http://babble.uz/</span>
				<input type="text" class="form-control" aria-describedby="token">
				<br>
				<span class="input-group-btn">
					<button class="btn btn-success" type="button">Create room!</button>
				</span>
			</div>
		</div>
	</div>
	<div class="fix"></div>
	<hr>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>Start chatting now</h2>
		</div>
	</div>
</div>
