body {
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
}
.fix {
	padding: 55px;
}
.babble-logo {
	margin: 30px auto;
	width: auto;
	height: 200px;
	display: block;
	background-size: contain;
	background-image: url('http://s.craftzone.uz:3000/images/logo.png');
	background-repeat: no-repeat;
    background-position: top center;
}

.content {
	text-align: center;
}